* {
	margin: 0;
	padding: 0;
}

#top_section {
	background-image: url("images/nyc4.png");
	background-size: 100%;
	height: 370px;
	width: 100%;
	margin-bottom: 60px;
}

#top_section h1 {
	text-align: center;
	font-size: 80px;
	font-family: 'Grand Hotel', cursive;
	font-weight: 700;
	padding-top: 100px;
	padding-bottom: 15px;
	position: relative;
	display: block;
	color: white;
}

input {
	width: 245px;
	height: 35px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-family: Maven Pro;
	font-size: 16px;
	text-align: center;
	margin-bottom: 40px;
}

#container {
	width: 100%;
	position: relative;
	display: inline-block;
}

.fixed {
	position: fixed;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#stardiv {
	width: 40px;
	height: 40px;
	position: relative;
	text-align: left;
}

/*************************************
			Button Styles
**************************************/

button {
align-items: center;
display: inline;
text-align: center;
height: 35px;
width: 170px;
margin-right: 15px;
font-weight: 400;
text-shadow: 0 1px 2px black;
text-shadow: 0 1px 2px rgba(0,0,0,0.5);
border-bottom: px solid #704279;
cursor: pointer;
border-radius: 10px;
font-family: 'Milonga', cursive;
font-size: 14px;
}

#buttons {
	padding-left: 18%;
}

a {
	text-decoration: none;
}

/*************************************
		  Picture Styles
**************************************/

#morepictures {
	margin-bottom: 20px;
}

#output div {
	display: inline-block;
}

.picturediv {
	display: inline-block;
}

#output {
	position: absolute;
	float: right;
	margin-right: 80px;
	margin-left: 154px;
}

#output img {
	-webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.59);
	box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.59);
	height: 144px;
}

.picturediv {
	display: inline-block;
}
